@model Learn2MVC.Models.Folder

@{
    ViewData["Title"] = "Folder Details";
}

<h2>@Model.Name</h2>

@if (Model.Children != null && Model.Children.Any())
{
    <div>
        <h3>Child Folders:</h3>
        <ul>
            @foreach (var childFolder in Model.Children)
            {
                <li>
                    <a href='@Url.Action("FolderDetails", "Home", new { id = childFolder.Id })'>
                        @childFolder.Name
                    </a>
                </li>
            }
        </ul>
    </div>
}
